@import "tailwindcss";
@import "./mobile.css";

@theme {
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);

  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-card: #ffffff;
  --color-card-foreground: #171717;

  --color-popover: #ffffff;
  --color-popover-foreground: #171717;

  --color-primary: #18181b;
  --color-primary-foreground: #fafafa;

  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #18181b;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;

  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;

  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #18181b;

  --radius-lg: 0.5rem;
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-sm: calc(var(--radius-lg) - 4px);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;

    --color-card: #0a0a0a;
    --color-card-foreground: #ededed;

    --color-popover: #0a0a0a;
    --color-popover-foreground: #ededed;

    --color-primary: #fafafa;
    --color-primary-foreground: #18181b;

    --color-secondary: #27272a;
    --color-secondary-foreground: #fafafa;

    --color-muted: #27272a;
    --color-muted-foreground: #a1a1aa;

    --color-accent: #27272a;
    --color-accent-foreground: #fafafa;

    --color-destructive: #7f1d1d;
    --color-destructive-foreground: #fafafa;

    --color-border: #27272a;
    --color-input: #27272a;
    --color-ring: #d4d4d8;
  }
}

* {
  border-color: var(--color-border);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-family-sans);
}
